/* Main Container (Sidebar + Main Content) */
.flex-grow {
	display: flex;
  }
  
/* Sidebar (Left) */
.filter-sidebar {
	width: 22%; /* Sidebar takes 25% of the page */
	background-color: #f8f8f8;
	padding: 20px;
	margin-top: 45px;
	border-right: 10px;
	height: 100vh; /* Full viewport height */
	overflow-y: auto; /* Enable vertical scrolling if needed */
	display: flex;
	flex-direction: column;
	border-radius: 6px;
  }
  
  /* Main Content (Right) */
  .main-content {
	flex-grow: 1; /* Take remaining space */
	padding: 20px;
	display: flex;
	flex-direction: column;
  }
  
  .product-grid {
	border-top:9px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 6px;
	padding: 20px;
	border-radius: 6px;
}

@media screen and (max-width: 768px){
	.product-grid{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 438px){
	.product-grid{
		grid-template-columns: repeat(2, 1fr);
	}
}
