.slideshow {
	position: relative;
	margin: 40px;
	width: 93%;
	max-height: 500px; /* Adjust height as needed */
	border-radius: 7px;
	overflow: hidden;
  }
  
  .slide-image {
	width: 100%;
	height: auto;
	display: block;
  }
  
  .arrow {
	z-index: 10;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5); /* Transparent black */
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 24px;
	border-radius: 50%;
  }
  
  .arrow.left {
	left: 20px;
  }
  
  .arrow.right {
	right: 20px;
  }
  
  .arrow:hover {
	background: rgba(0, 0, 0, 0.8);
  }  

  .slide-container {
	position: relative;
  }
  
  .text-overlay {
	position: absolute;
	top: 10%;
	left: 5%;
	color: green;
	padding: 20px;
	border-radius: 8px;
	max-width: 40%;
  }
  
  .slide-title {
	font-size: 39px;
	font-weight: bold;
	color: black;
	margin-bottom: 0;
  }
  
  .slide-motto {
	margin-top:0;
	margin-left: 15px;
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: bold;
}
  
  .slide-paragraph {
	font-size: 23px;
	color: #3b3a39;
  }  